.social-icons{
    list-style: none;
    position: fixed;
    top: 40%;
    left: calc(100% - 80px);
    min-width: 250px;
}
.social-icon{
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: translateX(-80%);
    }
}
.social-icon a{
    color: white;
    font-size: 0.8em;
    padding-left: 20px;
}
.social-icon i{
    color: white;
    padding: 12px;
    text-align: center;
}
.social-icon:nth-child(1){
    background-color: #e17b77;
}
.social-icon:nth-child(2){
    background-color: #00aced;
}
.social-icon:nth-child(3){
    background-color: #007bb6;
}
.social-icon:nth-child(4){
    background-color: #3b5998;
    padding-left: 3px;
}
.social-icon:nth-child(5){
    background-color: #333;
}